body,
h1,
h2,
ul,
li,
p,
a,
button,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 1000px;
}

.side-menu-container {
  width: 220px;
  background: #fff;
  position: fixed;
}

.side-menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
}

.main-title {
  background: linear-gradient(#FFB354, #EE7A3A);
  color: #fff;
  font-size: 0.9375rem;
  height: 74px;
}

.main-title h1 {
  padding: 18.5px 20px;
  text-align: center;
  margin: 0 auto;
}

.menu-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9375rem;
}


.topics li {
  border-bottom: 2px solid #E5E5E5;
  background: linear-gradient(#FFB455, #ED7839);
}

.topics li a {
  color: #725C5C;
  font-weight: 500;
  display: block;
  padding: 7px 0 7px 24px;
  background: #fff;
  transition: .3s;
}

.topics li a:hover {
  margin-left: 5px;
  background: #FDF1EB;
}

.container {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 256px;
  padding-right: 29px;
}

.header {
  background: #FDF1EB;
  width: 100vw;
}

.header-title {
  color: #725C5C;
  margin: 5px 0 4px 0;
}

.header-title p,
.header-title h2 {
  font-weight: 400;
}

.header-title p {
  font-size: 0.875rem;
}

.header-title h2 {
  margin: 2px auto 0 auto;
  font-size: 1.375rem;
}

.user {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: #333333;
  margin: 17px 0 auto 10px;
}

.language {
  display: flex;
  padding: 8px 9px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.language p {
  font-size: 0.875rem;
  margin: auto 5px auto 0;
}

.language .language-image {
  width: 22px;
  height: 22px;
  margin: auto 0;
}

.language .dropdown-image {
  width: 10px;
  height: 8px;
  margin: auto 4px auto 0;
}

.login {
  display: flex;
  margin: auto 10px;
}

.login .login-text {
  margin-left: 22px;
  text-align: right;
}

.login img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 7px;

}

.login .login-text :first-child {
  font-size: 0.875rem;
}

.login .login-text :last-child {
  font-size: 0.75rem;
}

.video-main-title {
  font-size: 1.25rem;
  color: #ED7839;
  font-weight: 900;
  margin: 20px 0;
  max-width: 783px;
  letter-spacing: 0.05rem;
}

.video-background {
  background: url('../img/video-background.png') no-repeat;
}

.video{
  background-color: rgba(141, 53, 6, 0.5);
  height: 439px;
  width: 783px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video .video-title {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  padding: 35px 30px 0 30px;
  letter-spacing: 0.05rem;
}

.video .video-user {
  padding: 0 0 60px 35px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.05rem;
  display: flex;
}

.video .video-user img {
  border-radius: 50%;
  border: 1px solid #ED7839;
  margin-right: 17px;
}

.video .video-user .text p {
  font-size: 2.25rem;
}

.video .video-user .text span {
  font-size: 1.25rem;
}

.detail-btn {
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.detail-btn img {
  width: 19px;
  height: 19px;
}

.detail-btn .btn {
  background: #ED7839;
  border: none;
  border-radius: 4px;
  margin: 0 2.5px 5px 2.5px;
}

.detail-btn .btn a {
  display: block;
  padding: 6px 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.detail-btn :first-child a {
  display: flex;
}

.detail-btn :first-child a span {
  margin-left: 5px;
}

.details-text .ask {
  text-align: right;
  margin: 0 10px 5px 10px;
  font-size: 0.875rem;
  color: #ED7839;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.detail-box {
  margin: 0 10px 0 30px;
  max-width: 242px;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  height: 439px;
}

.detail-title {
  color: #4E4E4E;
  font-weight: 500;
  background: #FDF1EB;
  padding: 10px 15px;
  font-size: 0.833333333rem;
}

.detail-inside {
  padding: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  color: #5C5C5C;
}

.detail-about {
  margin-bottom: 20px;
}

.detail-about p {
  margin: 2px auto;
  font-size: 0.75rem;
}

.detail-about p span {
  font-weight: bold;
}

.detail-authors {
  margin-bottom: 40px;
}

.detail-authors .authors {
  font-weight: bold;
}

.detail-authors p {
  margin-bottom: 2px;
}

.detail-college p {
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: #ACACAC
}
