body,
h1,
h2,
ul,
li,
p,
a,
button,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  cursor: default;
}

.container {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 256px;
  padding-right: 20px;
  margin: 0 auto;
}

.side-menu-container {
  width: 220px;
  background: #fff;
  position: fixed;
  z-index: 1;
}

.side-menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
}

.main-title {
  background: linear-gradient(#FFB354, #EE7A3A);
  color: #fff;
  font-size: 0.9375rem;
  height: 74px;
}

.main-title h1 {
  padding: 18.5px 20px;
  text-align: center;
  margin: 0 auto;
}

.menu-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9375rem;
}


.topics li {
  border-bottom: 2px solid #E5E5E5;
  background: linear-gradient(#FFB455, #ED7839);
}

.topics li a {
  color: #725C5C;
  font-weight: 500;
  display: block;
  padding: 7px 0 7px 24px;
  background: #fff;
  transition: .3s;
}

.topics li a:hover {
  margin-left: 5px;
  background: #FDF1EB;
}

.topics li a.active {
  margin-left: 5px;
  background: #FDF1EB;
}

.header {
  background: #FDF1EB;
  width: 100vw;
}

.header-title {
  color: #725C5C;
  margin: 5px 0 4px 0;
}

.header-title p,
.header-title h2 {
  font-weight: 400;
}

.header-title p {
  font-size: 0.875rem;
}

.header-title h2 {
  margin: 2px auto 0 auto;
  font-size: 1.375rem;
}

.user {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: #333333;
  margin: 17px 0 auto 10px;
}

.language {
  display: flex;
  padding: 8px 9px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.language p {
  font-size: 0.875rem;
  margin: auto 5px auto 0;
}

.language .language-image {
  width: 22px;
  height: 22px;
  margin: auto 0;
}

.language .dropdown-image {
  width: 10px;
  height: 8px;
  margin: auto 4px auto 0;
}

.login {
  display: flex;
  margin: auto 10px;
}

.login .login-text {
  margin-left: 22px;
  text-align: right;
}

.account {
  position: relative;
}

.login .account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 7px;
  cursor: pointer;
}

.notif {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #F85959;
  position: absolute;
  top: calc(0%);
  left: calc(100% - 8px);
}

.login .login-text :first-child {
  font-size: 0.875rem;
}

.login .login-text :last-child {
  font-size: 0.75rem;
}

.video{
  background-color: rgba(141, 53, 6, 0.5);
  height: 439px;
  width: 783px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-main-title {
  font-size: 1.25rem;
  color: #ED7839;
  font-weight: 900;
  margin: 20px 0;
  max-width: 783px;
  letter-spacing: 0.05rem;
}

.video-background {
  background: url('../img/video-background.png') no-repeat;
}

.video .video-title {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  padding: 35px 30px 0 30px;
  letter-spacing: 0.05rem;
}

.video .video-user {
  padding: 0 0 60px 35px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.05rem;
  display: flex;
}

.video .video-user img {
  border-radius: 50%;
  border: 1px solid #ED7839;
  margin-right: 17px;
  padding: 4.26px 4.57px;
}

.video .video-user .text p {
  font-size: 2.25rem;
}

.video .video-user .text span {
  font-size: 1.25rem;
}

.detail-btn {
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.detail-btn img {
  width: 19px;
  height: 19px;
}

.detail-btn .btn {
  background: #ED7839;
  border: none;
  border-radius: 4px;
  margin: 0 2.5px 5px 2.5px;
  transition: .4s;
}

.detail-btn .btn a {
  display: block;
  padding: 6px 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.detail-btn .btn:hover {
  transform: scale(1.07);
}

.detail-btn :first-child a {
  display: flex;
}

.detail-btn :first-child a span {
  margin-left: 5px;
}

.details-text .ask {
  text-align: right;
  margin: 0 10px 5px 10px;
  font-size: 0.875rem;
  color: #ED7839;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.detail-box {
  margin: 0 10px;
  max-width: 242px;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  height: 439px;
}

.box-title {
  color: #4E4E4E;
  font-weight: 500;
  background: #FDF1EB;
  padding: 10px 15px;
  font-size: 0.833333333rem;
  border-bottom: 1px solid #ECECEC;;
}

.detail-inside {
  padding: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  color: #5C5C5C;
}

.detail-about {
  margin-bottom: 20px;
}

.detail-about p {
  margin: 2px auto;
  font-size: 0.75rem;
}

.detail-about p span {
  font-weight: bold;
}

.detail-authors {
  margin-bottom: 40px;
}

.detail-authors .authors {
  font-weight: bold;
}

.detail-authors p {
  margin-bottom: 2px;
}

.detail-college p {
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: #ACACAC
}

.abstract {
  cursor: pointer;
  margin: 30px 10px 0 0;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  letter-spacing: 0.02rem;
  flex-basis: 1080px;
}

.abstract-text {
  padding: 15px;
  font-size: 0.875rem;
  color: #5C5C5C;
  font-family: 'Quicksand', sans-serif;
}

.abstract-text .see-more {
  color: #ED7839;
  font-weight: bold;
}

.abstract-text .see-more:hover {
  text-decoration: underline;
}

.abstract-text .rest-abstract {
  display: none;
}

.abstract-text .rest-abstract.active {
  display: block;
  animation: appear .3s forwards;
}

.discussion {
  margin: 30px 10px 30px 0;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  flex-basis: 1080px;
  padding-bottom: 15px;
}

.discussion-content {
  max-width: 1050px;
  margin: 15px 15px 30px 15px;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 30px;
  position: relative;
}

.discussion-title {
  font-weight: bold;
  font-size: 1.125rem;
  color: #ED7839;
  text-align: center;
  top: 10px;
}

.discussion-images {
  display: flex;
  justify-content: center;
}

.discussion-images img {
  margin: 27px 10px 35px 25px;
}

.discussion-message {
  max-width: 630px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: #595959;
}

.discussion-btn {
  display: flex;
  position: absolute;
  bottom: calc(0% - 16.5px);
  right: calc(50% - 63.5px);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: white;
  background: linear-gradient(#FEB254, #F0813D);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 15px;
  transition: .3s;
}

.discussion-btn:hover {
  transform: scale(1.1);
}

.discussion-btn img {
  margin-right: 6px;
}

.write .discussion-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  color: #5C5C5C; 
  font-weight: normal;
}
 
.write form {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.write form label {
  font-weight: bold;
  color: #ED7839;
}

.write form input,
.write form textarea {
  border: 1px solid #CCCCCC;
  padding: 10px 24px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  color: #4D4D4D;
}

.write form input {
  margin-bottom: 10px;
  border-radius: 3px;
}

.write form input:focus,
.write form textarea:focus {
  outline: none;
}

.write form textarea {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.write .send {
  display: flex;
  border: 1px solid #CCCCCC;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.js [data-show="discussion"] {
  display: none;
  animation: appear .8s forwards;
}

.js [data-show="discussion"].active {
  display: block;
}

.send .text-options {
  flex: 1 1 840px;
  background: #EAF1F2;
}

.send .text-options img {
  display: inline-block;
  margin: 11px 15px;
}

.send .discussion-btn {
  position: unset;
  border-radius: unset;
  border-bottom-right-radius: 3px;
  flex: 1 1 210px;
  margin: 0 auto;
  justify-content: center;
}

.send .discussion-btn:hover {
  border-radius: 3px;
}

.topic-sent .discussion-btn {
  right: calc(50% - 109.5px);
  padding: 8px 55px;
}

.topic-sent .discussion-message {
  margin-top: 18px;
  max-width: 900px;
}

.topic-sent .discover {
  text-align: center;
  margin: 30px auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: underline;
  color: #F48F44;
  cursor: pointer;
  transition: .5s;
}

.topic-sent .discover:hover {
  transform: scale(1.03);
}

.topic {
  max-width: 1050px;
  padding: 18px 24px;
  border-radius: 4px;
  border: 1px solid #E7E7E7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  margin: 0 15px 17px 15px;
  font-family: 'Quicksand', sans-serif;
}

.topic-commented {
  max-width: 1050px;
  margin: 0 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.topic-commented .topic {
  margin: 0;
  box-shadow: none;
}

.topic-subject {
  font-weight: bold;
  color: #ED7839;
  margin-bottom: 3px;
}

.topic-name {
  font-size: 0.75rem;
  font-weight: 500;
  color: #5C5C5C;
  margin-bottom: 10px;
}

.topic-question {
  font-size: 0.875rem;
  color: #4D4D4D;
}

.topic-question .rest-topic {
  display: none;
}

.topic-question .rest-topic.active {
  display: block;
  animation: appear .3s forwards;
}

.topic-footer {
  max-width: 200px;
  display: flex;
  margin-top: 11px;
}

.topic-likes img{
  background: #ED7839;
  padding: 3px 6px;
  border-radius: 2px;
  margin-right: 15px;
}

.topic-footer .options {
  height: 4px;
  width: 4px;
  display: block;
  border-radius: 50%;
  background: #ED7839;
  margin-right: 15px;
  box-shadow: 0 7px #ED7839, 0 14px #ED7839;
}

.topic-footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  color: #757575;
  font-weight: 350;
  margin-right: 15px;
}

[data-show="discussion"] .topic {
  position: relative;
  background: #DDDDDD;
  filter: blur(2.5px);
}

.topic-confirmed {
  max-width: 1050px;
  margin: auto 15px;
  position: absolute;
  top: calc(50% + 61px);
  right: calc(50% - 134px);
}

.topic-confirmed img{
  margin: 0 auto;
}

.topic-confirmed .feedback {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #707070;
  text-align: center;
  margin: 8px auto;
}

.topic-confirmed .edit {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  color: #ED7839;
  text-decoration: underline;
  text-align: center;
}

.comments {
  max-width: 1050px;
  margin: 0;
  padding: 18px 24px 35px 24px;
  border: 1px solid #E7E7E7;
  background: #F8F8F8;
  font-family: 'Quicksand', sans-serif;
}

.js [data-show="appear"] {
  display: none;
  animation: appear 0.5s forwards;
}

.js [data-show="appear"].active {
  display: block;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.author {
  display: flex;
  justify-content: space-between;
}

.author-name {
  font-size: 0.75rem;
  font-weight: bold;
  color: #5C5C5C;
  margin-bottom: 15px;
}

.author .author-authen {
  display: flex;
}

.author .author-authen p {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ED7839;
  margin-right: 30px;
}

.author .author-authen img {
  width: 23px;
  height: 23px;
}

.comments .answer {
  font-size: 0.875rem;
  color: #4D4D4D;
  max-width: 980px;
}

.reply {
  background: #fff;
  padding-bottom: 18px;
}

.footer {
  display: flex;
  padding: 30px 15px;
  margin: 0 10px 10px 0;
  border-top: 1px solid #E7E7E7;
  flex-wrap: nowrap;
}

.footer a {
  margin-right: 15px;
  flex-basis: 225px;
}

.footer-text {
  flex-basis: 825px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  color: #5C5C5C;
} 

.footer-text span {
  font-weight: bold;
}

.js [data-anime="show-right"].active {
  animation: show-right .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="show-down"].active {
  animation: show-down .8s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media(max-width: 1322px) {
  .video-content {
    margin: 0 auto;
  }
  .work-details{
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-around;
    width: 783px;
  }
  .detail-btn {
    flex-direction: column;
    justify-content: center;
  }
  .detail-btn .btn {
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .detail-btn .btn a img {
    margin: auto;
  }
  .details-text .ask {
    text-align: center;
  }
}

@media(max-width: 1273px) {
  .header .container {
    flex-direction: column-reverse;
  }

  .header-title::before {
    content: "";
    display: block;
    width: 645px;
    height: 1px;
    margin-bottom: 12px;
    background: rgba(89, 89, 89, 0.4);
  }

  .header-title {
    margin: 5px auto 4px auto;
    padding-right: 10px;
  }
  .user {
    margin: 10px 0 10px 0;
    justify-content: space-around;
  }
  .login {
    margin: auto 20px;
  }
}

@media (max-width: 1080px) {
  .side-menu-container {
    display: none;
  }
  .container {
    padding-left: 20px;
  }
}